<div class="search-bar container">
  <div class="search-input col-8">
    <input type="text" />
    <button class="btn search-btn">
      <i class="material-symbols-outlined"> search </i>
    </button>
  </div>
  <div class="search-filters col-4">
    <button class="btn">
      <i class="material-symbols-outlined"> tune </i>
    </button>
  </div>
</div>
<div class="row rooms-container">
  @for (room of roomsList; track $index) {
  <div class="card classroom-card col-md-8 col-lg-4">
    <div class="card-img">
      <p>{{ room.stage }}/{{ room.stageSequnce }}</p>
    </div>
    <div class="txt-info">
      <p class="class-stage">{{ room.stage | roomStage }}</p>
      <p class="class-count">
        مكان الفصل:
        <span style="color: #c9e9d2; font-weight: bold">{{ room.floor }}</span>
      </p>

      <div *ngIf="room.currentSubject != undefined" class="live-txt">
        <p *ngIf="room.currentSubject != undefined">
          {{ room.currentSubject }}
        </p>

        <p *ngIf="room.currentTeacher != undefined">
          {{ room.currentTeacher }}
        </p>
      </div>
    </div>
  </div>
  }
</div>
