.classroom-card{
  background-color: #1A282F;
  color: var(--text-clr);
  text-align: center;
  flex-direction: row;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  flex-grow: 1;
}

.classroom-card:hover{
  background-color: var(--hover-clr);
}

.rooms-container{
  padding-top: 10px;
  gap: 1rem;
  justify-content: space-between;
}

.card-img{
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-inline-start: 0; /* This will be 'margin-right' in LTR and 'margin-left' in RTL */
    margin-inline-end: auto;

    background-color: var(--green-clr);
    color: var(--text-clr);
    font-size: 40px;
    width: 100px;
    height: 100px;
    text-align: center;
}


.search-bar{
  background-color: var(--dark-gray);
    /* border-bottom: 1px solid var(--line-clr); */
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    padding-bottom: 10px;
    direction: rtl;
}

.search-input{
  background-color: #222222;
  border: 1px solid var(--line-clr);
  border-right: none;
  border-radius: 25px;
  color: var(--text-clr);
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.search-input input[type='text']{
  background-color: var(--hover-clr);
  background-color: transparent;
  padding: 2px;
  color: var(--text-clr);
  font-size: 18px;
  border: none;
  outline: none;
  width: 85%;
  flex-grow: 1;
}

.search-input .search-btn{
  padding: 0;
  color: var(--text-clr);
  border: 1px solid transparent;
  outline: none;
}


.search-filters{
  flex-basis: content;
}

.search-filters button{
  background-color: var(--dark-gray);
  color: var(--text-clr);
  border: 1px solid transparent;
  outline: none;

}

.search-filters button:hover{
  background-color: var(--hover-clr);
}


.txt-info{
  padding: 10px;
  text-align: end;
}

.txt-info .class-count{
  margin-top: 10px;
  color: #8CABFF;

  font-size: 12px;
  text-decoration-line: underline;
}

.txt-info .class-stage{
  font-size: 30px;
  font-weight: bold;
}

.live-txt{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #FFF4B7;
}

.live-txt p{
    margin: 0;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: #666;
    font-weight: bold;
    box-shadow: 0px 0px 4px;
}
