<div class="search-bar container">
  <div class="search-input col-8">
    <input type="text" />
    <button class="btn search-btn">
      <i class="material-symbols-outlined"> search </i>
    </button>
  </div>
  <div class="search-filters col-4">
    <button class="btn">
      <i class="material-symbols-outlined"> tune </i>
    </button>
  </div>
</div>
<div class="row rooms-container">
  <div class="card classroom-card col-md-6 col-lg-4">
    <div class="card-img">
      <p>3/1</p>
    </div>
    <div class="txt-info">
      <p class="class-stage">الصف الثالث</p>
      <p class="class-count">عدد الطلاب: <span>30</span></p>
    </div>
  </div>
  <!-- Next card-->
  <div class="card classroom-card col-md-6 col-lg-4">
    <div class="card-img">
      <p>3/1</p>
    </div>
    <div class="txt-info">
      <p class="class-stage">الصف الثالث</p>
      <p class="class-count">عدد الطلاب: <span>30</span></p>
    </div>
  </div>
  <!-- Next card-->
  <div class="card classroom-card col-md-6 col-lg-4">
    <div class="card-img">
      <p>3/1</p>
    </div>
    <div class="txt-info">
      <p class="class-stage">الصف الثالث</p>
      <p class="class-count">عدد الطلاب: <span>30</span></p>
    </div>
  </div>
  <!-- Next card-->
  <div class="card classroom-card col-md-6 col-lg-4">
    <div class="card-img">
      <p>3/1</p>
    </div>
    <div class="txt-info">
      <p class="class-stage">الصف الثالث</p>
      <p class="class-count">عدد الطلاب: <span>30</span></p>
    </div>
  </div>
  <!-- Next card-->
  <div class="card classroom-card col-md-6 col-lg-4">
    <div class="card-img">
      <p>3/1</p>
    </div>
    <div class="txt-info">
      <p class="class-stage">الصف الثالث</p>
      <p class="class-count">عدد الطلاب: <span>30</span></p>
    </div>
  </div>
  <!-- Next card-->
  <div class="card classroom-card col-md-6 col-lg-4">
    <div class="card-img">
      <p>3/1</p>
    </div>
    <div class="txt-info">
      <p class="class-stage">الصف الثالث</p>
      <p class="class-count">عدد الطلاب: <span>30</span></p>
    </div>
  </div>
  <!-- Next card-->
  <div class="card classroom-card col-md-6 col-lg-4">
    <div class="card-img">
      <p>3/1</p>
    </div>
    <div class="txt-info">
      <p class="class-stage">الصف الثالث</p>
      <p class="class-count">عدد الطلاب: <span>30</span></p>
    </div>
  </div>
  <!-- Next card-->
</div>
