<div class="add-session-popup">
  <div class="row">
    <div class="col-4">اختر الفصل</div>
    <div class="col-8">
      <select class="form-select" [(ngModel)]="slectedRoomId">
        @for (room of classRooms; track $index){
        <option [value]="room.roomId">{{ room.name }}</option>
        }
      </select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4">اختر اليوم</div>
    <div class="col-8">
      <select id="" class="form-select">
        <option [value]="0">الأحد</option>
        <option [value]="1">الاثنين</option>
        <option [value]="2">الثلاثاء</option>
        <option [value]="3">الأربعاء</option>
        <option [value]="4">الخميس</option>
        <option [value]="5">السبت</option>
      </select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4">اختر الحصة</div>
    <div class="col-8">
      <select id="" class="form-select">
        <option [value]="1">الأولى</option>
        <option [value]="2">الثانية</option>
        <option [value]="3">الثالثة</option>
        <option [value]="4">الرابعة</option>
        <option [value]="5">الخامسة</option>
        <option [value]="6">السادسة</option>
        <option [value]="7">السابعة</option>
      </select>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-4">المادة</div>
    <div class="col-8">
      <input
        type="text"
        class="form-control input-group"
        #subjectNameInput="ngModel"
        maxlength="20"
        minlength="2"
        required
        [(ngModel)]="subjectName"
        placeholder="المادة"
      />
    </div>
    <div class="errors-container col-8 me-auto mt-4 text-center">
      @if(subjectNameInput.errors?.['required']){
      <p class="text-danger">ادخل اسم المادة</p>
      } @if(subjectNameInput.errors?.['maxlength']){
      <p class="text-danger">اسم المادة طويل جدا</p>
      } @if(subjectNameInput.errors?.['minlength']){
      <p class="text-danger">اسم المادة قصير جدا</p>
      }
    </div>
  </div>
  <div class="row mt-4">
    <button class="btn btn-success w-100 fa-1x">إضافة</button>
  </div>
</div>
