<div class="add-session-popup">
  <div class="row">
    <div class="col-4">اختر الفصل</div>
    <div class="col-8">
      <select id="" class="form-select">
        <option [value]="1">3/1</option>
        <option [value]="1">3/1</option>
        <option [value]="1">3/1</option>
        <option [value]="1">3/1</option>
        <option [value]="1">3/1</option>
        <option [value]="1">3/1</option>
        <option [value]="1">3/1</option>
      </select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4">اختر اليوم</div>
    <div class="col-8">
      <select id="" class="form-select">
        <option [value]="1">الأحد</option>
        <option [value]="1">الاثنين</option>
        <option [value]="1">الثلاثاء</option>
        <option [value]="1">الأربعاء</option>
        <option [value]="1">الخميس</option>
        <option [value]="1">السبت</option>
      </select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4">اختر الحصة</div>
    <div class="col-8">
      <select id="" class="form-select">
        <option [value]="1">الأولى</option>
        <option [value]="1">الثانية</option>
        <option [value]="1">الثالثة</option>
        <option [value]="1">الرابعة</option>
        <option [value]="1">الخامسة</option>
        <option [value]="1">السادسة</option>
        <option [value]="1">السابعة</option>
      </select>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-4">المادة</div>
    <div class="col-8">
      <input type="text" class="form-control input-group" />
    </div>
  </div>
  <div class="row mt-4">
    <button class="btn btn-success w-100 fa-1x">إضافة</button>
  </div>
</div>
