<app-search-bar
  (onSearch)="filterBySearchQuery($event)"
  (onFilter)="openFilterDialog()"
></app-search-bar>
<div class="cards-container row text-secondary">
  @for (teacher of searchedList; track $index) {
  <a class="card teacher-card" [routerLink]="['/teachers', teacher.teacherId]">
    <div class="info-img">
      <span>{{ teacher.firstName[0] }}</span>
    </div>
    <div class="teacher-info">
      <div class="txt-info">
        <p>{{ teacher.firstName + " " + teacher.lastName }}</p>

        @if(teacher.available){
        <i
          class="material-symbols-outlined text-success"
          style="font-size: 30px"
          >adjust</i
        >
        } @else {
        <i class="material-symbols-outlined text-danger" style="font-size: 30px"
          >hourglass_empty</i
        >
        }
      </div>

      @if(teacher.available){
      <div class="txt-info text-secondary justify-content-between">
        <p>
          <strong>{{ teacher.unitsAvailable | sessionCount }} </strong>
        </p>
        <p>متاح</p>
      </div>
      } @else{
      <div class="txt-info text-secondary">
        <p>
          <strong> {{ teacher.unitsAvailable | sessionCount }} </strong>
        </p>
        <!-- <p>{{ teacher.roomStageAt | roomStage }}</p> -->
        <p>{{ teacher.subjectAt }}</p>
        <p class="fw-bold">{{ teacher.classRoomAt }}</p>
      </div>

      <!-- <div class="txt-info text-secondary">
        <p>{{ teacher.roomStageAt | roomStage }}</p>
      </div> -->

      }
    </div>
  </a>
  }
</div>
