<app-search-bar></app-search-bar>
<div class="cards-container row text-secondary">
  <div class="card teacher-card">
    <div class="info-img">
      <span>م</span>
    </div>
    <div class="teacher-info">
      <div class="txt-info">
        <p>محمد شريف</p>
        <i class="material-symbols-outlined text-danger" style="font-size: 30px"
          >hourglass_empty</i
        >
      </div>
      <div class="txt-info text-secondary">
        <p><strong> حصتين </strong></p>
        <p>صف ثاني</p>
        <p class="fw-bold">فصل 2/3</p>
      </div>
    </div>
  </div>
  <div class="card teacher-card">
    <div class="info-img">
      <span>ج</span>
    </div>

    <div class="teacher-info">
      <div class="txt-info">
        <p>جمال صالح</p>
        <i
          class="material-symbols-outlined text-success"
          style="font-size: 30px"
          >adjust</i
        >
      </div>
      <div class="txt-info text-secondary justify-content-between">
        <p><strong> حصة واحدة </strong></p>
        <p>متاح</p>
      </div>
    </div>
  </div>
  <div class="card teacher-card">
    <div class="info-img">
      <span>أ</span>
    </div>
    <div class="txt-info">
      <p>احمد ابراهيم</p>
      <i class="material-symbols-outlined text-danger" style="font-size: 30px"
        >hourglass_empty</i
      >
    </div>
  </div>
  <div class="card teacher-card">
    <div class="info-img">
      <span>ب</span>
    </div>
    <div class="txt-info">
      <p>بسام محمد</p>
      <i class="material-symbols-outlined text-danger" style="font-size: 30px"
        >hourglass_empty</i
      >
    </div>
  </div>
</div>
