<nav id="sidebar">
  <ul>
    <li>
      <a
        routerLink="/teachers"
        routerLinkActive="active-link"
        class="active-link"
      >
        <i class="fa-solid fa-people-group"></i>
        <!-- <span>Teachers</span> -->
        <span>المعلمون</span>
      </a>
    </li>
    <li>
      <a routerLink="/sessions" routerLinkActive="active-link">
        <i class="fa-solid fa-chalkboard-user"></i>
        <!-- <span>Sessions</span> -->
        <span>الحصص</span>
      </a>
    </li>
    <li>
      <a routerLink="absences" routerLinkActive="active">
        <!-- <i class="material-symbols-outlined">account_circle_off</i> -->
        <i class="material-symbols-outlined">group_off</i>
        <!-- <span>Absences</span> -->
        <span>الغيابات</span>
      </a>
    </li>
    <li>
      <a routerLink="/classrooms">
        <i class="material-symbols-outlined">dashboard</i>
        <!-- <span>Classrooms</span> -->
        <span>الفصول</span>
      </a>
    </li>
  </ul>
</nav>
