<nav id="sidebar">
  <ul>
    <li>
      <a
        routerLink="/teachers"
        [class.active-link]="activeLink === 'teachers'"
        (click)="setActiveLink('teachers')"
      >
        <i class="fa-solid fa-people-group"></i>
        <span>المعلمون</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/sessions"
        [class.active-link]="activeLink === 'sessions'"
        (click)="setActiveLink('sessions')"
      >
        <i class="fa-solid fa-chalkboard-user"></i>
        <span>الحصص</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/absences"
        [class.active-link]="activeLink === 'absences'"
        (click)="setActiveLink('absences')"
      >
        <i class="material-symbols-outlined">group_off</i>
        <span>الغيابات</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/classrooms"
        [class.active-link]="activeLink === 'classrooms'"
        (click)="setActiveLink('classrooms')"
      >
        <i class="material-symbols-outlined">dashboard</i>
        <span>الفصول</span>
      </a>
    </li>
  </ul>
</nav>
