<div class="p-4 pb-4">
  <h2 class="text-center display-2 mb-5">absences works!</h2>
  <h3 class="text-center display-2 mb-5 text-danger">
    {{ browerInfo }}
  </h3>
  <h3 class="text-center display-2 mb-5 text-success">
    {{ agentInfo | json }}
  </h3>
  <div class="text-light display-4">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia
      a error repellat quis aspernatur cumque neque quaerat rem iste ex
      voluptate quae esse alias atque, quibusdam accusamus sint amet.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio,
      reiciendis minima libero sunt iure eligendi dignissimos repudiandae autem
      praesentium unde doloribus obcaecati facilis accusantium nam atque quo
      tempora ducimus architecto? Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Beatae non consequatur a quam numquam unde mollitia
      sequi, totam dolore illum, magnam vero cumque alias minus necessitatibus
      provident minima sapiente iste. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Magni commodi ex ab tempore recusandae iusto eligendi
      minima rem? Cupiditate necessitatibus tempore perferendis aspernatur
      ratione deserunt modi quasi quod, enim culpa. Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Quas harum at deleniti iure quibusdam? Esse,
      fugiat? Quo, maiores, ex iusto minima aliquam animi nisi dolor dolorem
      laborum cum suscipit assumenda? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Molestiae incidunt facere dolor aperiam, dolorem amet
      cum blanditiis iure in laborum odit modi hic, quam aliquam rem eveniet et
      eius ipsam!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia
      a error repellat quis aspernatur cumque neque quaerat rem iste ex
      voluptate quae esse alias atque, quibusdam accusamus sint amet.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia
      a error repellat quis aspernatur cumque neque quaerat rem iste ex
      voluptate quae esse alias atque, quibusdam accusamus sint amet.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia
      a error repellat quis aspernatur cumque neque quaerat rem iste ex
      voluptate quae esse alias atque, quibusdam accusamus sint amet.
    </p>
  </div>
</div>
