/* You can add global styles to this file, and also import other style files */

/*Global Import statements*/
/*@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


/* FontAwesome-v6 library */
@import url('assets/all.min.css');

/*Google Icons*/
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

/*Global Import statements*/

:root{
  --dark-gray:#121212;
  --dark-secondary:#25201b;
  --text-color:#FFF;
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
  --card-clr:rgb(31,29,43);
  --profile-clr:rgb(253,196,67);
  --green-clr:rgb(61,213,152);
}

/*Global Styles*/
* {
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
  /* font-family: poppins, 'Segoe UI', Tahoma, Geneva !important; */
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
  line-height: 1.5rem;
}

h1,h2,h3,span,p{
  font-family: "IBM Plex Sans Arabic", sans-serif !important;

}
ul{
  list-style: none;
}

body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
 /* background-color: var(--dark-secondary);*/
  color: var(--text-clr);
  display: grid;
  grid-template-columns: auto 1fr;
  scroll-behavior: smooth;
  direction: rtl;
}

a{
  text-decoration: none;
}

.card{
  background-color: var(--base-clr);
  background-color: transparent;
  color: var(--text-clr);
}
/*Global Styles*/


html, body { height: 100%; }
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif;  */
  font-family: "IBM Plex Sans Arabic", sans-serif !important;

}


/* Loader Feature */

/* HTML: <div class="loader"></div> */
.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #fff;
  animation: l4 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
}
@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full page height */
  background-color: transparent;
  position: fixed; /* Stay over the content */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it appears above other content */
}

